.login-container {
    padding: 3rem 2rem;
    border: 1px solid #ddd;
    background-color: white;
    color: #666;
    .login-header {
        .login-header-title {
            font-size: 1.3rem;
            font-weight: bold;
        }
    }
    height: 100%;
}
.login-poster {
    padding: 1rem 2rem;
    height: 100%;
    min-height: 500px;
    text-shadow: 1px 1px 5px 8px rgba(0, 0, 0, 0.4);
}
.login-poster .slogon {
    font-size: 2rem;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
}

.dashboard-card {
    overflow: hidden;
    .card-body .rotate {
        z-index: 8;
        float: right;
        height: 100%;
    }

    .card-body .rotate i {
        color: rgba(20, 20, 20, 0.15);
        position: absolute;
        left: 0;
        left: auto;
        right: -10px;
        bottom: 0;
        display: block;
        -webkit-transform: rotate(-44deg);
        -moz-transform: rotate(-44deg);
        -o-transform: rotate(-44deg);
        -ms-transform: rotate(-44deg);
        transform: rotate(-44deg);
    }
}
