.home-page {
    padding: 2rem;
    background: linear-gradient(to bottom right, #0261a6, #022c5a);
    .rounded-text {
        background-color: white;
        padding: 0.5rem 1rem;
        border: 1px solid white;
        margin: 2rem 0;
        border-radius: 16px;
        width: fit-content;
        p {
            font-weight: bold;
            font-size: 1.5rem;
            color: $primary-color;
        }
    }

    .home-search-bar {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 8px;
        .home-search-input {
            padding: 8px 12px;
            border: none;
            outline: none;
            background-color: transparent;
            width: 100%;
            &:hover {
                border: none;
                outline: none;
            }
        }
        button {
            margin-right: 0;
        }
    }
}

//jobs section
.jobs-section {
    .job-item {
        padding: 6px 0;
        &:hover {
            background-color: #eee;
        }
        .job-description {
            padding-left: 1rem;
            .company-name {
                font-size: 0.85rem;
                font-weight: bold;
                width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .company-listings {
                font-size: 0.85rem;
                list-style: none;
                color: $primary-color;
            }
        }
    }

    .top-employers {
        display: flex;
        align-items: center;
        .top-employer {
            flex: 1;
        }
    }
}
